*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #f3f3f3;
}
.header{
    background: #0b4f9c;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
.menu{
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
.menu a:hover{
    text-decoration: underline;
    color: yellow;
}
.section{
    background: white;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}
.section h2{
    margin-bottom: 15px;
    color: #0b4f9c;
}
.competence-box{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.competence{
    background: #0b4f9c;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.gallery{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.gallery img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.contact{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.contact-item{
    display: flex;
    align-items: center;
    gap: 8px;
    background: #0b4F9C;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
}
.contact-item a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.footer{
    text-align: center;
    padding: 15px;
    background: black;
    color: white;
    margin-top: 20px;
}
.profile{
    width: 200px;
    margin: 20px auto;
    text-align: center;
}
.profile img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #0b4f9c;
}